<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    
    
    <form action="{% url 'crearCliente' %}" method="POST"> {% csrf_token %} # El action debe coincidir con el name que dimos en urls.py



        <table>

        

            {{ miFormulario.as_table }}

            

        </table>

        

        <input type="submit", value="Enviar">

        

        </form> <form action="{% url 'crearCliente' %}" method="POST"> {% csrf_token %}  
            #El action debe coincidir con el name que dimos en urls.py



        <table>

        

            {{ miFormulario.as_table }}

            

        </table>

        

        <input type="submit", value="Enviar">

        

        </form> 


</body>
</html>